/* --- Navigation --- */
.navbar.navbar-expand-lg {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

/* --- Jumbotron --- */
#home-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.jumbotron {
  background: url('raccoon.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 425px;
  display: flex;
  flex-direction: column;      /* Organizes elements vertically */
  justify-content: center;     /* Centers vertically */
  text-align: center;          /* Centers text horizontally */
}

.jumbotron .btn {
  width: auto; /* Prevents button from taking full width */
  align-self: center; /* Aligns button to center */
}

.text-white {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Text shadow */
}

.btn-close {
  width: 0.5rem;   /* Adjusts button size */
  height: 0.5rem;  /* Adjusts button height */
  padding: 0.25rem;  /* Reduces button padding */
  font-size: 0.75rem; /* Reduces button cross size */
}



/* Sticky Footer Classes */
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}



/* --- Will Paginate Styles --- */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
    border-radius: 5px;}
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid whitesmoke;
    color: white;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: gray;
      background: whitesmoke;
      color: gray; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }