/* --- Navegação --- */
.navbar.navbar-expand-lg {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

/* --- Jumbotron --- */
#home-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.jumbotron {
  background: url('raccoon.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 425px;
  display: flex;
  flex-direction: column;      /* Organiza os elementos na vertical */
  justify-content: center;     /* Centraliza verticalmente */
  text-align: center;          /* Centraliza o texto horizontalmente */
}

.jumbotron .btn {
  width: auto; /* Impede o botão de ocupar toda a largura */
  align-self: center; /* Alinha o botão ao centro */
}

.text-white {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra no texto */
}

.btn-close {
  width: 0.5rem;   /* Ajusta o tamanho do botão */
  height: 0.5rem;  /* Ajusta a altura do botão */
  padding: 0.25rem;  /* Reduz o preenchimento do botão */
  font-size: 0.75rem; /* Diminui o tamanho da cruz do botão */
}



/* Sticky Footer Classes */
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}



/* --- Will Paginate Styles --- */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
    border-radius: 5px;}
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid whitesmoke;
    color: white;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: gray;
      background: whitesmoke;
      color: gray; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }